<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Game Edit Page for Game: <span id="displayTitle"><%= game.title %></span>, <%= game.id %></h1>
    <h3>ID: <%= game.id %></h3>
    <h2><strong>Title: <span id="displayTitle2"><%= game.title %></span></strong></h2>
    <p>Genre: <span id="displayGenre"><%= game.genre %></span></p>
    <p>Rating(0-5): <span id="displayRating"><%= game.rating %></span></p>
    <p>Description: <span id="displayDescription"><%= game.description %></span></p>
    <form id="editForm" action="/<%= game.id %>/editPage" method="POST">

        <div>
            <label for="title">Title</label>
            <input name="title" value="<%= game.title %>">
        </div>
        <div>
            <label for="genre">Genre</label>
            <input name="genre" value="<%= game.genre %>">
        </div>
        <div>
            <label for="rating">Rating</label>
            <input name="rating" value="<%= game.rating %>">
        </div>
        <div>
            <label for="description">Description</label>
            <input name="description" value="<%= game.description %>">
        </div>
        
        
        <button type="submit">Edit</button>
        <a href="/">Return</a>
    </form>


    <script>
        const editForm = document.getElementById("editForm");

        editForm.addEventListener("submit", async(e) => {
            e.preventDefault();

            const formData = new FormData(editForm);

            const updatedGame = {
                title: formData.get("title"),
                genre: formData.get("genre"),
                rating: formData.get("rating"),
                description: formData.get("description")
            }

            const response = await fetch("/<%= game.id %>", {
                method: "PATCH",
                headers: {
                    "Content-Type":"application/JSON"
                },
                body: JSON.stringify(updatedGame)
            })

            if(response.ok) {
                const updated = await response.json();
                document.getElementById("displayTitle").textContent = updated.title;
                document.getElementById("displayTitle2").textContent = updated.title;
                document.getElementById("displayGenre").textContent = updated.genre;
                document.getElementById("displayRating").textContent = updated.rating;
                document.getElementById("displayDescription").textContent = updated.description;
            }
        })
    </script>


</body>
</html>