<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Library</title>
</head>
<body>
    <h1>Game Libary</h1>
    <a href="/">Return</a>
    <% games.forEach(game => { %>
        <p>ID: <%= game.game_id %></p>
        <p>Title: <%= game.title %></p>
        <p>Genre: <%=game.genre %></p>
        <p>Rating: <%= game.rating %></p>
        <p>Description: <%= game.description %></p>
        <p>--- User Data ---</p>
        <ul>
            <p><strong>Gamertag: <%= game.gamertag %></strong></p>
            <p>Console: <%= game.console_name %></p>
            <p>Owned: <%= game.owned %></p>
            <p>Status: <%= game.status %></p>
            <p>Hours Played: <%= game.hours_played %></p>
        </ul>

        
    <% }); %>
    
</body>
</html>